{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <div class="form-group">
      <br>
      <br>
    <label for="exampleInputEmail1"><b><h2> Please Enter Recovery Email Address:</h2></b></label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
      </div>
    <br>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>
{% endblock content %}