{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Welcome!{% endblock title %}

{% block content %}
<div class="">
    <div style="text-align: center;">
        <img src="{% static 'Images/dev.jpg' %}" style="height:100px;">
        <h1>Welcome!</h1>
        {% if form.errors %}
        <p>
            Username and password didn't match.Please
            Please try again.
        </p>
        {% else %}

        {% endif %}
    </div>

    <form action="" method="post" class="form ">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-primary">Submit</button>
        <p><a href="/forgot">Forgotten your password?</a></p>
        <p><a href="/register">New User? Click here to register</a></p>

        {% endbuttons %}
    </form>
</div>
{% endblock content %}
